@media screen and (max-width: 1500px){

    .about-content{
        padding: 0px 100px!important;
    }

    .icons{
        margin-left: 20px;
    }

    .project-wrapper{
        width: 40%!important;
    }

}

@media screen and (max-width: 1320px){

    .intro{
        padding: 80px 10px!important;
    }

    .profile-picture{
        margin-left: 100px!important;
    }
}

@media screen and (max-width: 1170px){

    .profile-picture{
        margin-left: 20px!important;
    }

}

@media screen and (max-width: 1080px){

    .project-wrapper{
        width: 50%!important;
    }

}

@media screen and (max-width: 1000px){

    .profile-picture{
        margin-left: 0px!important;
    }

    .about-content{
        padding: 0px 30px!important;
    }

}

@media screen and (max-width: 970px){

    .profile-picture{
        display: none;
    }

    main{
        padding: 10px 20px!important;
    }

    .intro{
        flex-flow: column;
        padding: 80px 20px!important;
    }

    .intro-text-content{
        width: 100%!important;
    }

    .icons{
        flex-flow: row!important;
        width: 100%;
    }

    .icon-link{
        margin-right: 20px!important;
    }

    .utls-content{
        width: 100%;
        margin-top: 80px;
    }

    .about-content{
        padding: 0px 15px 0px 30px!important;
    }

    .work{
        flex-flow: column wrap;
        height: auto;
        padding: 120px 20px 80px 20px;
    }

    .project-wrapper{
        width: 60%!important;
        margin-top: 40px!important;
    }

    .contact{
        flex-flow: column wrap!important;
        height: auto;
    }

    .contact-info{
        width: 100%!important;
        padding: 80px 0px 0px 0px !important;
    }

    .infos-wrapper{
        margin-top: 50px!important;
    }

    .contact-title{
        right: 14%!important;
    }

    .send-message{
        width: 100%!important;
    }

    .copy{
        z-index: 1;
    }

}

@media screen and (max-width: 740px){

    .intro-text-content{
        text-align: center!important;
    }

    .intro-self{
        margin: 0!important;
    }

    .intro-self::before{
        display: none;
    }

    .about-picture{
        display: none;
    }

    .about{
        height: 700px;
    }

    .about-content{
        width: 100%!important;
    }

    .about-title{
        left: 15%!important;
    }

    .project-wrapper{
        width: 80%!important;
        margin-top: 40px!important;
    }

}

@media screen and (max-width: 630px){

    .menu-icon{
        display: block!important;
    }

    nav{
        top: 0;
        right: 0;
        right: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: #FCA250;
        display: none!important;
    }

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%!important;
        height: 100%!important;
        text-align: center;
    }

    .navbar li{
        width: 100%!important;
        margin-top: 60px;
    }

    .navbar li:nth-child(1){
        margin: 0!important;
    }

    .nav-link{
        font-size: 20px;
    }

    .nav-logo{
        display: block!important;
    }

    .close-icon{
        display: block!important;
    }

    .project-wrapper{
        width: 350px!important;
        height: 350px!important;
        margin-top: 40px!important;
    }
    
    .project-box{
        width: 100%!important;
        height: 100%!important;
    }

}

@media screen and (max-width: 510px){

    .about-title{
        left: 20px!important;
    }

    .about-title::before{
        display: none;
    }

    .work-title{
        left: 20px!important;
    }

    .work-title::before{
        display: none;
    }

    .contact-title{
        right: 20px!important;
    }

    .contact-title::after{
        display: none;
    }

    .user-info{
        width: 70%!important;
    }

    #message{
        width: 70%!important;
    }

}

@media screen and (max-width: 450px){

    main{
        padding: 4px!important;
    }

    header{
        padding: 4px!important;
    }

    .intro{
        padding: 60px 7px!important;
    }

    .intro-text-content{
        padding: 0!important;
    }

    .intro-hey{
        font-size: 70px!important;
    }

    .intro-self{
        font-size: 34px!important;
    }

    .intro h2{
        margin-top: 14px;
        font-size: 1em;
    }

    .primary-button{
        margin-top: 40px!important;
    }

    .about-content{
        padding: 0px 7px!important;
    }

    .info-content{
        font-size: 16px!important;
    }

    .introduce{
        font-size: 16px!important;
    }

    .work{
        padding: 170px 7px 80px 7px!important;
    }

    .project-wrapper{
        width: 290px!important;
        height: 290px!important;
        margin-top: 40px!important;
    }

    .project-box{
        padding: 0!important;
    }

    .secondary-button{
        padding: 4px 10px!important;
        font-size: 16px;
        text-align: center;
    }

    .infos-wrapper{
        margin-top: 100px!important;
    }

    .email p,
    .phone p{
        font-size: 16px!important;
        margin-left: 10px!important;
    }

    .email-icon,
    .phone-icon{
        width: 25px!important;
    }

    #message{
        min-width: auto!important;
    }

    .links-link{
        margin: 10px 10px!important;
    }

}

@media screen and (max-width: 350px){

    .project-wrapper{
        width: 240px!important;
        height: 240px!important;
    }

}


@media screen and (max-width: 320px){

    .contact-title{
        right: 0;
        left: 20px;
    }

}

@media screen and (max-height: 590px){

    .navbar li{
        margin-top: 25px;
    }

}