@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', monospace;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.primary-button {
  position: relative;
  margin-top: 30px;
  padding: 10px 45px;
  background: none;
  color: white;
  border: 2px solid #FCA250;
  outline: none;
  font-size: 18px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.primary-button:hover {
  color: #201B1B;
}

.primary-button:before {
  content: "";
  position: absolute;
  background: #FCA250;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.primary-button:hover:before {
  top: 0;
}

@-webkit-keyframes scroll {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.c1 {
  -webkit-animation: scroll 900ms infinite linear;
          animation: scroll 900ms infinite linear;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.c2 {
  -webkit-animation: scroll 900ms infinite linear;
          animation: scroll 900ms infinite linear;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.c3 {
  -webkit-animation: scroll 900ms infinite linear;
          animation: scroll 900ms infinite linear;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px 50px;
  background: radial-gradient(circle, #373333 0%, #201b1b 100%);
}

main header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .logo-header {
  width: 70px;
}

main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main header nav .navbar .nav-link {
  margin: 0px 40px;
  color: white;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

main header nav .navbar .nav-link:hover {
  color: #FCA250;
}

main .intro {
  width: 100%;
  padding: 20px 40px;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .intro .intro-text-content {
  width: 50%;
  padding: 0px 10px;
  color: white;
}

main .intro .intro-text-content .intro-hey {
  display: block;
  font-size: 100px;
  font-weight: 500;
  margin: 5px 0px;
}

main .intro .intro-text-content .intro-self {
  position: relative;
  display: block;
  font-size: 50px;
  font-weight: 400;
  margin-left: 60px;
}

main .intro .intro-text-content .intro-self::before {
  content: '';
  position: absolute;
  top: 35px;
  left: -60px;
  width: 50px;
  height: 4px;
  background-color: #FCA250;
}

main .intro .intro-text-content h2 {
  font-weight: 300;
}

main .intro .utls-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

main .intro .utls-content .profile-picture {
  margin-left: 180px;
}

main .intro .utls-content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  justify-self: flex-end;
}

main .intro .utls-content .icons a {
  margin: 12px 0px;
}

main .intro .utls-content .icons .icon {
  width: 30px;
  -webkit-transition: 220ms ease-in-out;
  transition: 220ms ease-in-out;
}

main .intro .utls-content .icons .icon:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.about {
  position: relative;
  width: 100%;
  height: 900px;
  background: radial-gradient(circle, #373333 0%, #201b1b 100%);
}

.about .about-picture {
  width: 50%;
  height: 100%;
  background-image: url("/assets/images/about-picture.png");
  background-size: cover;
}

.about .about-content {
  width: 50%;
}
/*# sourceMappingURL=main.css.map */