// Font 
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

// Basic Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace;
}

html, body{
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

// Palette
$primary-color: #FCA250;
$secondary-color: #373333;
$tertiary-color: #201B1B;

// Buttons

.primary-button{
    display: inline-block;
    opacity: 0;
    position: relative;
    margin-top: 30px;
    padding: 10px 60px;
    color: white;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 2px;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    animation: intro-animation 500ms forwards 0s linear;
    animation-delay: 700ms;

    &:hover{
        color: $tertiary-color;
    }

    &:before {
        content: "";
        position: absolute;
        background: $primary-color;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.15s ease-in;
      }

      &:hover:before {
        top: 0;
      }
}

.secondary-button{
    position: relative;
    margin: 10px;
    padding: 8px 15px;
    color: white;
    border: 1px solid $primary-color;
    border-radius: 2px;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;

    &:hover{
        color: $tertiary-color;
    }

    &:before {
        content: "";
        position: absolute;
        background: $primary-color;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.15s ease-in;
      }

      &:hover:before {
        top: 0;
      }
}

// Animations

@keyframes scroll{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes intro-animation{
    0%{
        transform: translateX(-100px);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}

@keyframes intro-image-animation{
    0%{
        transform: translateY(-50px);
        opacity: 0;
        }
    100%{
        transform: translateY(0);
        opacity: 1;
        }
}

@keyframes intro-icons-animation{
    0%{
        transform: translateX(90px);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}

@keyframes intro-fade-animation{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}

// Utls

.c1{
    animation: scroll 900ms infinite linear;
    animation-delay: 200ms;
}
.c2{
    animation: scroll 900ms infinite linear;
    animation-delay: 300ms;
}
.c3{
    animation: scroll 900ms infinite linear;
    animation-delay: 400ms;
}


// Layout
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    padding: 20px 50px;
    background: radial-gradient(circle, rgba(55,51,51,1) 0%, rgba(32,27,27,1) 100%);

    header{
        overflow: hidden;
        position: relative;
        z-index: 10;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        animation: intro-fade-animation 800ms forwards 0s ease-in-out;

        .logo-header{
            width: 70px;
        }

        .menu-icon{
            width: 38px;
            display: none;
            cursor: pointer;
        }

        nav{
            display: flex;

            .nav-logo{
                width: 60px;
                position: absolute;
                bottom: 0;
                right: 42%;
                margin-bottom: 40px;
                display: none;
            }

            .close-icon{
                width: 25px;
                position: absolute;
                right: 25px;
                top: 35px;
                display: none;
                cursor: pointer;
            }
        }

        .nav-closed{
            transform: translateX(0);
        }

        nav .navbar{
            display: flex;
            list-style: none;

            .nav-link{
                margin: 0px 40px;
                color: white;
                transition: 200ms ease-in-out;

                &:hover{
                    color: $primary-color;
                }
            }
        }
    }

    .intro{
        width: 100%;
        padding: 20px 40px;
        margin-top: -60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro-text-content{
            width: 50%;
            padding: 0px 10px;
            color: white;

            .intro-hey{
                display: block;
                font-size: 100px;
                font-weight: 500;
                margin: 5px 0px;
                opacity: 0;
                animation: intro-animation 700ms forwards 0s linear;
            }

            .intro-self{
                opacity: 0;
                position: relative;
                display: block;
                font-size: 50px;
                font-weight: 400;
                margin-left: 60px;
                animation: intro-animation 600ms forwards 0s linear;
                animation-delay: 400ms;

                &::before{
                    content: '';
                    position: absolute;
                    top: 35px;
                    left: -60px;
                    width: 50px;
                    height: 4px;
                    background-color: $primary-color;
                }
            }

            h2{
                opacity: 0;
                font-weight: 400;
                animation: intro-animation 500ms forwards 0s linear;
                animation-delay: 600ms;
            }

        }

        .utls-content{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 10px;

            .profile-picture{
                margin-left: 180px;
                animation: intro-image-animation 1s forwards 0s linear;
            }

            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                justify-self: flex-end;

                a{
                    opacity: 0;
                    margin: 12px 0px;
                }

                a:nth-child(1){
                    animation: intro-icons-animation 600ms forwards 0s linear;
                    animation-delay: 400ms;
                }

                a:nth-child(2){
                    animation: intro-icons-animation 600ms forwards 0s linear;
                    animation-delay: 500ms;
                }

                a:nth-child(3){
                    animation: intro-icons-animation 600ms forwards 0s linear;
                    animation-delay: 600ms;
                }

                a:nth-child(4){
                    animation: intro-icons-animation 600ms forwards 0s linear;
                    animation-delay: 700ms;
                }

                .icon{
                    width: 30px;
                    transition: 220ms ease-in-out;
                    
                    &:hover{
                        transform: scale(1.08);
                    }
                }
            }
        }
    }

    .scroll-box{
        opacity: 0;
        animation: intro-fade-animation 800ms forwards 0s ease-in-out;
    }
}

.about{
    display: flex;
    position: relative;
    width: 100%;
    height: 800px;
    background: radial-gradient(circle, rgba(55,51,51,1) 0%, rgba(32,27,27,1) 100%);

    .about-picture{
        width: 50%;
        height: 100%;
        background-image: url('/assets/images/about-picture.png');
        background-size: cover;
    }

    .about-content{
        width: 50%;
        height: 100%;
        padding: 0px 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        position: relative;

        .about-title{
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 46px;
            color: white;

            &::before{
                content: '';
                position: absolute;
                top: 35px;
                left: -60px;
                width: 50px;
                height: 4px;
                background-color: white;
            }

            span{
                color: $primary-color;
            }
        }

        .introduce{
            font-size: 20px;
            color: white;
            font-weight: 300;
        }

        .info{
            width: 100%;
            color: white;
            margin-top: 30px;
            font-weight: 300;
        }

        .info-content{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 18px;
            margin-top: 5px;

            p{
                margin-left: 10px;
            }

            h4{
                font-weight: 500;
            }

        }

        .skills{
            margin-top: 40px;

            img{
                width: 40px;
                margin-right: 10px;
            }
        }
    }
}

.work{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 900px;
    background: radial-gradient(circle, rgba(55,51,51,1) 0%, rgba(32,27,27,1) 100%);

    .work-title{
        position: absolute;
        top: 50px;
        left: 80px;
        font-size: 46px;
        color: white;

        &::before{
            content: '';
            position: absolute;
            top: 35px;
            left: -60px;
            width: 50px;
            height: 4px;
            background-color: white;
        }

        span{
            color: $primary-color;
        }
    }

    .project-wrapper{
        position: relative;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;   
        margin: 30px 20px 0px 20px; 
        background-color: $primary-color;
        border-radius: 6px;
    }

    .project-box{
        width: 100%;
        height: 450px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 6px;
        background-color: $secondary-color;
        box-shadow: 0px 6px 16px rgba(31, 29, 29, 0.37);
        transform: translate(5px, -5px);
        transition: 200ms ease-in-out;

        .text-content{
            margin: 10px;
            color: white;

            p{
                font-size: 18px;
            }

            span{
                font-weight: 300;
            }
        }

        &:hover{
            transform: translate(10px, -10px);
        }
    }

    .project-1{
        background-image: url('/assets/images/project1.png');
        background-size: cover;
    }

    .project-2{
        background-image: url('/assets/images/project2.png');
        background-size: cover;
    }
}

.contact{
    display: flex;
    position: relative;
    width: 100%;
    height: 900px;
    background: radial-gradient(circle, rgba(55,51,51,1) 0%, rgba(32,27,27,1) 100%);

    .contact-title{
        position: absolute;
        top: 10px;
        right: 52%;
        font-size: 46px;
        color: white;

        &::after{
            content: '';
            z-index: 1;
            position: absolute;
            top: 35px;
            left: 280px;
            width: 50px;
            height: 4px;
            background-color: white;
        }

        span{
            color: $primary-color;
        }
    }

    .contact-info{
        width: 50%;
        height: 100%;
        padding: 100px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        .infos-wrapper{
            display: flex;
            justify-self: center;
            align-items: center;
            flex-flow: column;
        }

        .email,
        .phone{
            width: 100%;
            display: flex;
            align-items: center;
            color: white;
            margin: 20px 0px;

            p{
                margin-left: 30px;
                font-size: 26px;
            }
        }

        .email-icon,
        .phone-icon{
            width: 30px;
        }

        .links{
            margin: 40px 0px 70px 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .links-link{
                margin: 10px 20px;

                .links-icon{
                    width: 35px;
                    transition: 200ms ease-in-out;

                    &:hover{
                        transform: scale(1.09);
                    }
                }
            }
        }

        .copy{
            position: absolute;
            bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                margin-left: 20px;
                color: white;
                font-weight: 300;
                font-size: 12px;
            }
        }
    }

    .send-message{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        padding: 100px 0px;
        background-color: $primary-color;

        #contact-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            #message{
                padding: 14px;
                outline: none;
                border-radius: 2px;
                background-color: white;
                border: none;
                max-height: 500px;
                min-height: 200px;
                max-width: 500px;
                min-width: 300px;
            }
            
            .user-info{
                width: 100%;
                margin: 14px 0px;
                padding: 15px 10px;
                outline: none;
                border-radius: 2px;
                background-color: white;
                border: none;
            }

            #contact-submit{
                position: relative;
                margin: 30px 0px;
                padding: 14px 40px;
                background-color: white;
                border: none;
                outline: none;
                font-size: 18px;
                color: $primary-color;
                box-shadow: 1px 4px 0px #7e522931;
                cursor: pointer;
                transition: 200ms ease-in-out;

                &:hover{
                    color: $tertiary-color;
                    transform: translateY(-5px);
                    box-shadow: 0 3px 8px 6px #7e52292c;
                }
            }

            .send-icon{
                    width: 30px;
                    position: absolute;
                    top: 37px;
                    right: 8px;
                }
        }
    }
}