@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', monospace;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.primary-button {
  opacity: 0;
  position: relative;
  margin-top: 30px;
  padding: 10px 45px;
  color: white;
  background-color: transparent;
  border: 2px solid #FCA250;
  border-radius: 2px;
  font-size: 18px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  -webkit-animation: intro-animation 500ms forwards 0s linear;
          animation: intro-animation 500ms forwards 0s linear;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.primary-button:hover {
  color: #201B1B;
}

.primary-button:before {
  content: "";
  position: absolute;
  background: #FCA250;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s ease-in;
}

.primary-button:hover:before {
  top: 0;
}

.secondary-button {
  position: relative;
  margin: 10px;
  padding: 8px 15px;
  color: white;
  border: 1px solid #FCA250;
  border-radius: 2px;
  font-size: 18px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.secondary-button:hover {
  color: #201B1B;
}

.secondary-button:before {
  content: "";
  position: absolute;
  background: #FCA250;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s ease-in;
}

.secondary-button:hover:before {
  top: 0;
}

@-webkit-keyframes scroll {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes intro-animation {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes intro-animation {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes intro-image-animation {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes intro-image-animation {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes intro-icons-animation {
  0% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes intro-icons-animation {
  0% {
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes intro-fade-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-fade-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.c1 {
  -webkit-animation: scroll 900ms infinite linear;
          animation: scroll 900ms infinite linear;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.c2 {
  -webkit-animation: scroll 900ms infinite linear;
          animation: scroll 900ms infinite linear;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.c3 {
  -webkit-animation: scroll 900ms infinite linear;
          animation: scroll 900ms infinite linear;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px 50px;
  background: radial-gradient(circle, #373333 0%, #201b1b 100%);
}

main header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-animation: intro-fade-animation 800ms forwards 0s ease-in-out;
          animation: intro-fade-animation 800ms forwards 0s ease-in-out;
}

main header .logo-header {
  width: 70px;
}

main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main header nav .navbar .nav-link {
  margin: 0px 40px;
  color: white;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

main header nav .navbar .nav-link:hover {
  color: #FCA250;
}

main .intro {
  width: 100%;
  padding: 20px 40px;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .intro .intro-text-content {
  width: 50%;
  padding: 0px 10px;
  color: white;
}

main .intro .intro-text-content .intro-hey {
  display: block;
  font-size: 100px;
  font-weight: 500;
  margin: 5px 0px;
  opacity: 0;
  -webkit-animation: intro-animation 700ms forwards 0s linear;
          animation: intro-animation 700ms forwards 0s linear;
}

main .intro .intro-text-content .intro-self {
  opacity: 0;
  position: relative;
  display: block;
  font-size: 50px;
  font-weight: 400;
  margin-left: 60px;
  -webkit-animation: intro-animation 600ms forwards 0s linear;
          animation: intro-animation 600ms forwards 0s linear;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

main .intro .intro-text-content .intro-self::before {
  content: '';
  position: absolute;
  top: 35px;
  left: -60px;
  width: 50px;
  height: 4px;
  background-color: #FCA250;
}

main .intro .intro-text-content h2 {
  opacity: 0;
  font-weight: 400;
  -webkit-animation: intro-animation 500ms forwards 0s linear;
          animation: intro-animation 500ms forwards 0s linear;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

main .intro .utls-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

main .intro .utls-content .profile-picture {
  margin-left: 180px;
  -webkit-animation: intro-image-animation 1s forwards 0s linear;
          animation: intro-image-animation 1s forwards 0s linear;
}

main .intro .utls-content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  justify-self: flex-end;
}

main .intro .utls-content .icons a {
  opacity: 0;
  margin: 12px 0px;
}

main .intro .utls-content .icons a:nth-child(1) {
  -webkit-animation: intro-icons-animation 600ms forwards 0s linear;
          animation: intro-icons-animation 600ms forwards 0s linear;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

main .intro .utls-content .icons a:nth-child(2) {
  -webkit-animation: intro-icons-animation 600ms forwards 0s linear;
          animation: intro-icons-animation 600ms forwards 0s linear;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

main .intro .utls-content .icons a:nth-child(3) {
  -webkit-animation: intro-icons-animation 600ms forwards 0s linear;
          animation: intro-icons-animation 600ms forwards 0s linear;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

main .intro .utls-content .icons a:nth-child(4) {
  -webkit-animation: intro-icons-animation 600ms forwards 0s linear;
          animation: intro-icons-animation 600ms forwards 0s linear;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

main .intro .utls-content .icons .icon {
  width: 30px;
  -webkit-transition: 220ms ease-in-out;
  transition: 220ms ease-in-out;
}

main .intro .utls-content .icons .icon:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main .scroll-box {
  opacity: 0;
  -webkit-animation: intro-fade-animation 800ms forwards 0s ease-in-out;
          animation: intro-fade-animation 800ms forwards 0s ease-in-out;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 800px;
  background: radial-gradient(circle, #373333 0%, #201b1b 100%);
}

.about .about-picture {
  width: 50%;
  height: 100%;
  background-image: url("/assets/images/about-picture.png");
  background-size: cover;
}

.about .about-content {
  width: 50%;
  height: 100%;
  padding: 0px 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
}

.about .about-content .about-title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 46px;
  color: white;
}

.about .about-content .about-title::before {
  content: '';
  position: absolute;
  top: 35px;
  left: -60px;
  width: 50px;
  height: 4px;
  background-color: white;
}

.about .about-content .about-title span {
  color: #FCA250;
}

.about .about-content .introduce {
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.about .about-content .info {
  width: 100%;
  color: white;
  margin-top: 30px;
  font-weight: 300;
}

.about .about-content .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
  margin-top: 5px;
}

.about .about-content .info-content p {
  margin-left: 10px;
}

.about .about-content .info-content h4 {
  font-weight: 500;
}

.about .about-content .skills {
  margin-top: 40px;
}

.about .about-content .skills img {
  width: 40px;
  margin-right: 10px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 900px;
  background: radial-gradient(circle, #373333 0%, #201b1b 100%);
}

.work .work-title {
  position: absolute;
  top: 50px;
  left: 120px;
  font-size: 46px;
  color: white;
}

.work .work-title::before {
  content: '';
  position: absolute;
  top: 35px;
  left: -60px;
  width: 50px;
  height: 4px;
  background-color: white;
}

.work .work-title span {
  color: #FCA250;
}

.work .project-wrapper {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px 0px 20px;
  background-color: #FCA250;
  border-radius: 6px;
}

.work .project-box {
  width: 100%;
  height: 450px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 6px;
  background-color: #373333;
  -webkit-box-shadow: 0px 6px 16px rgba(31, 29, 29, 0.37);
          box-shadow: 0px 6px 16px rgba(31, 29, 29, 0.37);
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.work .project-box .text-content {
  margin: 10px;
  color: white;
}

.work .project-box .text-content p {
  font-size: 18px;
}

.work .project-box .text-content span {
  font-weight: 300;
}

.work .project-box:hover {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

.work .project-1 {
  background-image: url("/assets/images/project1.png");
  background-size: cover;
}

.work .project-2 {
  background-image: url("/assets/images/project2.png");
  background-size: cover;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 900px;
  background: radial-gradient(circle, #373333 0%, #201b1b 100%);
}

.contact .contact-title {
  position: absolute;
  top: 10px;
  right: 52%;
  font-size: 46px;
  color: white;
}

.contact .contact-title::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 280px;
  width: 50px;
  height: 4px;
  background-color: white;
}

.contact .contact-title span {
  color: #FCA250;
}

.contact .contact-info {
  width: 50%;
  height: 100%;
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact .contact-info .infos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact .contact-info .email,
.contact .contact-info .phone {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 20px 0px;
}

.contact .contact-info .email p,
.contact .contact-info .phone p {
  margin-left: 30px;
  font-size: 26px;
}

.contact .contact-info .email-icon,
.contact .contact-info .phone-icon {
  width: 30px;
}

.contact .contact-info .links {
  margin: 40px 0px 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-info .links .links-link {
  margin: 10px 20px;
}

.contact .contact-info .links .links-link .links-icon {
  width: 35px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.contact .contact-info .links .links-link .links-icon:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.contact .contact-info .copy {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-info .copy p {
  margin-left: 20px;
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.contact .send-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  padding: 100px 0px;
  background-color: #FCA250;
}

.contact .send-message #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact .send-message #contact-form #message {
  padding: 14px;
  outline: none;
  border-radius: 2px;
  background-color: white;
  border: none;
  max-height: 500px;
  min-height: 200px;
  max-width: 500px;
  min-width: 300px;
}

.contact .send-message #contact-form .user-info {
  width: 100%;
  margin: 14px 0px;
  padding: 15px 10px;
  outline: none;
  border-radius: 2px;
  background-color: white;
  border: none;
}

.contact .send-message #contact-form #contact-submit {
  position: relative;
  margin: 30px 0px;
  padding: 14px 40px;
  background-color: white;
  border: none;
  outline: none;
  font-size: 18px;
  color: #FCA250;
  -webkit-box-shadow: 1px 4px 0px #7e522931;
          box-shadow: 1px 4px 0px #7e522931;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.contact .send-message #contact-form #contact-submit:hover {
  color: #201B1B;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 3px 8px 6px #7e52292c;
          box-shadow: 0 3px 8px 6px #7e52292c;
}

.contact .send-message #contact-form .send-icon {
  width: 30px;
  position: absolute;
  top: 37px;
  right: 8px;
}
/*# sourceMappingURL=main.css.map */